@model BulkyBook.Models.ViewModels.CartVm



<p>Add products and <span class="badge bg-info">SAVE</span> to create bill</p>



    <form class="row g-3 mt-3" method="post" asp-action="Create" >








        <div class="col-3">

            <label><h5><strong>Product </strong></h5></label>


            <select asp-for="ShoppingCart.ProductId" asp-items="@Model.ProductList" class="form-select" style="background:#e6e6e6;" >
                <option disabled selected>--Select Product--</option>
            </select>

            <span asp-validation-for="ShoppingCart.ProductId" class="text-danger"></span>
        </div>





        <div class="col-3">

            <label asp-for="ShoppingCart.Price"><h5><strong>Price </strong></h5></label>


            <input asp-for="ShoppingCart.Price" class="form-control" type="number" readonly style="background:#e6e6e6;" />

            <span asp-validation-for="ShoppingCart.Price" class="text-danger"></span>
        </div>

        <div class="col-3">
            <label asp-for="ShoppingCart.Quantity"><h5><strong>Quantity </strong></h5></label>


            <input asp-for="ShoppingCart.Quantity" type="number" class="form-control" style="background:#e6e6e6;" />

            <span asp-validation-for="ShoppingCart.Quantity" class="text-danger"></span>
        </div>

        <div class="col-md-3 ">
              <label><h5><strong> </strong></h5></label>
            <button  type="submit" class="btn btn-info form-control mt-1"><i class="bi bi-plus-circle"></i> &nbsp; Add</button>
         
        </div>

    </form>


    <br />




    <div class="row autonum">
        <div class="card-header bg-light ml-0">
            <div class="row bg-dark ">
                   <div class="col-1   text-center border  ">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5  class="text-white"><strong>SN </strong></h5>
                </div>
                <div class="col-3   text-center border  ">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5  class="text-white"><strong>Particular </strong></h5>
                </div>
                <div class="col-2 text-end border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5  class="text-white"><strong>Price </strong></h5>
                </div>
                <div class="col-1 text-end border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5  class="text-white"><strong>Qty</strong></h5>
                </div>
                <div class="col-2 text-end border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5  class="text-white"><strong>Amount </strong></h5>
                </div>
                <div class="col-3 text-center border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5  class="text-white"><strong>Action </strong></h5>
                </div>
            </div>
            @if (Model.ListCart.Count() == 0)
        {
            <p>No Products Added</p>
        }
        else
        {
            
            @foreach (var item in Model.ListCart)
            {
                <div class="row ">
                        <div class="col-1  pt-2 text-center border ">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        <h5 class="autonumel"><strong></strong></h5>
                    </div>
                    <div class="col-3  pt-2 text-center border">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        <h5><strong>@item.Product.Name</strong></h5>
                    </div>
                    <div class="col-2 text-end border">
                        <i class="fa fa-shopping-cart "></i> &nbsp;
                        <h5><strong ">@item.Price</strong></h5>
                </div>
                <div class="col-1 text-end border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5><strong ">@item.Quantity</strong></h5>
                    </div>
                    <div class="col-2 text-end border">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        <h5><strong>@((item.Price * item.Quantity))</strong></h5>
                    </div>

                    <div class="col-3 text-center border pt-2">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        <div class=" btn-group" role="group">
                            <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-info">
                                <i class="bi bi-plus-square"></i>
                            </a> &nbsp;
                            <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-warning">
                                <i class="bi bi-dash-square"></i>
                            </a>&nbsp
                            <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>

                    </div>

                </div>
            }
            
        }
        

        </div>




    </div>


        <form class="row g-3 mt-3" method="post" asp-action="Order">



    <div class="row g-3 align-items-center mt-3">
        <div class="col-2">
            <label class="col-form-label"><h5><strong>Payment Mode </strong></h5></label>
        </div>
        <div class="col-3">



            <select asp-for="OrderHeader.TransactionId" asp-items="@Model.TransactionList" class="form-select" style="background:#e6e6e6;">
                <option disabled selected>--Select Transaction--</option>
            </select>

            <span asp-validation-for="OrderHeader.TransactionId" class="text-danger"></span>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2 ">
            <label class="col-form-label"><h5><strong>Total </strong></h5></label>
        </div>
        <div class="col-3">
            <input id="txttotal" class="form-control" type="number" value="@Model.OrderHeader.Total" readonly style="background:#e6e6e6;"/>
            <span asp-validation-for="OrderHeader.Total" class="text-danger"></span>
        </div>

    </div>

    <div class="row g-3 align-items-center mt-1">
        <div class="col-2">
            <label class="col-form-label"><h5><strong>Cashier </strong></h5></label>
        </div>
        <div class="col-3">
            <input class="form-control" type="text" value="@Model.OrderHeader.Cashier" readonly style="background:#e6e6e6;" />
        </div>
        <div class="col-2">
        </div>
        <div class="col-1 ">
            <label class="col-form-label"><h5><strong>Discount </strong></h5></label>
        </div>
        <div class="col-1">
            <input id="txtdiscount" asp-for="OrderHeader.Dpercent" class="form-control" type="number" style="background:#e6e6e6;" />
            <span asp-validation-for="OrderHeader.Dpercent" class="text-danger"></span>
        </div>
        <div class="col-3">
            <input id="txtdiscountamount" class="form-control" type="number" asp-for="OrderHeader.Discount" style="background:#e6e6e6;" readonly/>
        </div>

    </div>

    <div class="row g-3 align-items-center mt-1">
        <div class="col-2">
            <label class="col-form-label"><h5><strong>Customer </strong></h5></label>
        </div>
        <div class="col-3">
      
          <select asp-for="OrderHeader.CustomerId" asp-items="@Model.CustomerList" class="form-select" style="background:#e6e6e6;">
                <option disabled selected>--Select Customer--</option>
            </select>

            <span asp-validation-for="OrderHeader.CustomerId" class="text-danger"></span>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2 ">
            <label class="col-form-label"><h5><strong>Net Amount </strong></h5></label>
        </div>
        <div class="col-3">
            <input id="txtnetamount" class="form-control" type="number" value="" asp-for="OrderHeader.Netamount" readonly style="background:#e6e6e6;"/>
        </div>

    </div>


    <div class="row g-3 align-items-center mt-1">
        <div class="col-2">
            <label class="col-form-label"><h5><strong>Date </strong></h5></label>
        </div>
        <div class="col-3">
            <input class="form-control" type="datetime" value="@Model.OrderHeader.CreatedDate" readonly style="background:#e6e6e6;"/>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2 ">
            <label class="col-form-label"><h5><strong id="lbltendor">Tendor </strong></h5></label>
        </div>
        <div class="col-3">
            <input id="txttendor" class="form-control" type="number"  asp-for="OrderHeader.Tendor" style="background:#e6e6e6;"/>
            <span id="spantendor" asp-validation-for="OrderHeader.Tendor" class="text-danger"></span>
        </div>

    </div>


    <div class="row g-3 align-items-center mt-1">
        <div class="col-2">
            <button  type="submit" class="btn btn-success form-control mt-1"><i class="bi bi-save"></i> &nbsp;Save</button>
        </div>
        <div class="col-3">
             
        </div>
        <div class="col-2">
        </div>
        <div class="col-2 ">
            <label class="col-form-label"><h5><strong id="lblchange">Change </strong></h5></label>
        </div>
        <div class="col-3">
            <input id="txtchange" class="form-control" type="number"  asp-for="OrderHeader.Change" readonly style="background:#e6e6e6;" />
            <span id="spanchange" asp-validation-for="OrderHeader.Change" class="text-danger"></span>
        </div>

    </div>


</form>



@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){


        $("#ShoppingCart_ProductId").change(function(){
            var productid = $("#ShoppingCart_ProductId").val();
            getproductprice(productid);

        });

  


           $('#OrderHeader_TransactionId').change(function(){
                var selection= $('#OrderHeader_TransactionId Option:Selected').text();
                if(selection!='cash' && selection!='Cash' )
                {

                 $('#txttendor').hide();                   
                 $('#txtchange').hide();
                 $('#lbltendor').hide();                  
                 $('#lblchange').hide();
                 $('#spantendor').hide();
                 $('#spanchange').hide();                          
                    
                }
                else{
             
                 $('#txttendor').show();
                    
                 $('#txtchange').show();
                     
                 $('#lbltendor').show();
                    
                 $('#lblchange').show();

                 $('#spantendor').show();
                 $('#spanchange').show();
                }
            });

        calculatediscount();
        calculatenetamount();
        

            $("input[type=number]").change(function(){
          calculatediscount();
        calculatenetamount();
        calculatechange();
        
            

        });

            $("#txtdiscountamount").click(function(){
            calculatediscount();
        });


           $("#txtnetamount").click(function(){
            calculatenetamount();
        });

              $("#txtchange").click(function(){
            calculatechange();
        });










    });



    function getproductprice(productid){
        $.ajax({
            async:true,
            type:'Get',
            dataType:'JSON',
            contentType:'application/json; charset=utf-8',
            data:{productid:productid},
            url:'/employee/cart/getproductprice',
            success:function(data){
                $("#ShoppingCart_Price").val((data));
            },
            error:function(){
                alert("There is some problem to get the unit price");
            }
        });
    }

        function calculatechange(){
           var tendor = $("#txttendor").val();
        var netamount = $("#txtnetamount").val();
        var change = (tendor - netamount);
        $("#txtchange").val(parseFloat(change).toFixed(4));
    }

    function  calculatenetamount(){
        var total = $("#txttotal").val();
        var discount = $("#txtdiscountamount").val();
        var netamount = (total - discount);
        $("#txtnetamount").val((netamount));
    }


    function calculatediscount(){
     var amount = $("#txttotal").val();
     var discount = $("#txtdiscount").val();
     var discountamount = ((discount/100)*amount);
     $("#txtdiscountamount").val(parseFloat(discountamount).toFixed(4));
    }






</script>